.btn {
  background: #1677ff;
}
.app {
  padding: 16px;
}

.div {
  margin-bottom: 12px;
  padding: 4px;

}

.ant-row {
  margin-bottom: 4px;
}

.save-btn {
  margin-bottom: 24px;
  padding: 4px 15px;
}







